@font-face {
  font-family: 'Difique Menre';
  src: local('Difique Menre'),
       url('/static/fonts/DifiqueMenre.otf') format("opentype");
}

:root {
    --green: #06D6A0;
    --red: #EF476F;
    --yellow: #FFD166;
    --light-blue: #118AB2;
    --dark-blue: #073B4C;
}

body {
    margin: 0;
    min-height: 100vh;
}

/* Landing Page */

.logo-container {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.logo-container img {
    object-fit: contain;
    height: 75px;
    margin-right: 2rem;
}

.logo-container h3 {
    font-family: 'Difique Menre';
    font-size: 3rem;
    color: #073B4C;
}

#landingVideo, #noVideo {
     position: fixed;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     object-fit: cover;
}

#landingVideo {
    z-index: -2;
}

#noVideo {
    z-index: -3;
}

.landing-background-content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
  width: 100%;
  top: 0;
}

.main-content-container {
    width: 100vw;
    height: 75vh;
}

.main-content-box {
    width: 60%;
    min-width: 300px;
}

.main-content-box h1 {
    font-size: 3rem;
}

.install-confirmation h1{
    font-size: 3rem;
    color: #06D6A0;
    font-family: 'Ultra', serif;
}

.slack-btn {
    height: 40px;
    width: 139px;
}

@media (max-width: 400px) {
    .logo-container {
        margin-left: .5rem;
    }
    .logo-container img {
        margin-right: .5rem;
    }
    .slack-btn {
        height: 20px;
        width: 117.5px;
        margin-bottom: .5rem;
    }
}

a.typewrite,  a.typewrite:hover, a.typewrite:active{
    text-decoration: none !important;
    color: #06D6A0;
    font-family: 'Ultra', serif;
}

.wait-list-form-box h4 {
    color: var(--white);
}

.btn-success, .btn-success:hover, .btn-success:active .btn-success:focus {
    background-color: #06D6A0;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #EF476F;
}

.btn-success:hover, .btn-danger:hover {
    opacity: 0.85;
}

.submit-feedback-img {
    background: url('/static/media/imgs/man-in-white-shirt.jpg') no-repeat fixed;
    background-size: cover;
    background-position: bottom;
}

.dispnon {
    display: none;
}

/* Base Content Left & Right Templates */

.overflow-y {
    height: 100% !important;
    overflow: hidden;
}

.signup-container {
    width: 100%;
    height: 100vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.signup-img-left, .signup-img-right {
  max-width: 60%;
  width: 60%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.signup-img-left {
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.signup-img-right {
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.signup-form-left {
    max-width: 40%;
    width: 40%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    padding: 2%;
    overflow-y: scroll;
}

.signup-form-right {
    max-width: 40%;
    width: 40%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    padding: 2%;
    overflow: scroll;
}

.description-box {
    margin-top: 15%;
    width: 50%;
    height: 33%;
    min-height: 150px;
    padding: 25px;
    background-color: var(--background);
    border: 1px solid #efefef;
    white-space: wrap;
    line-space: 3px;
}

.signup-img-left .description-box {
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.signup-img-right .description-box {
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.description-box h3 {
    font-family: var(--title);
    color: var(--blue);
    white-space: normal;
    font-size: 3vh
}

.description-box p {
    margin-top: 7.5%;
    padding-left: 15px;
    padding-right: 2.5px;
    font-family: var(--small);
    font-size: 2vh;
    color: var(--black);
    white-space: normal;
}

.description-box ul, .title-content-text ul, .sm-description-list {
    margin-top: 2.5%;
    list-style-type: none;
    padding-left: 5%;
    white-space: normal;
}

.description-box li, .title-content-text li, .sm-description-list li {
    border-left: 7.5px solid var(--orange);
    margin-bottom: 4%;
    padding-left: 5%;
    font-family: var(--small);
    font-size: 1.65vh;
}

.description-on-sm {
    font-family: var(--small);
    padding-left: 15px;
    color: var(--black);
    white-space: normal;
}

.signup-form-title {
    font-family: var(--title);
}

.account-page {
    margin-top: 2% !important;
    width: 100%;
    white-space: wrap;
}

@media (max-width: 768px) {
    .signup-img-left, .signup-img-right {
        display: none;
    }
    .signup-form-left, .signup-form-right {
        max-width: 100%;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
    }
    .signup-form-container {
        padding-left: .5rem !important;
    }
}

/* Base Template */
.footer {
  background-color: white;
  color: gray;
  width: 100%;
  overflow-x: hidden;
  bottom: 0;
}

.footer ul {
    list-style-type: none;
}

.footer .row {
  background-color: white;
  padding-bottom: 1rem;
}

.footer-item {
  margin-top: 5pt;
  margin-bottom: 5pt;
  background-color: gray;
  font-family: ;
  font-weight: 300;
}

.footer-item  a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.footer-item  a:hover {
  text-decoration: none;
  font-weight: 900;
}

.footer .border-right {
  border-color: gray !important;
}

/* More Info Page */
.top-section {
    width: 100%;
    height: 37.5rem;
    background: url('/static/media/imgs/landing-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}

.phone-example {
    width: 20%;
    min-width: 275px;
    margin-top: 3rem;
}

.text-description-section {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 17rem;
    margin-bottom: 2rem;
    z-index: 5;
    background-color: white;
}

.left-description {
    display: inline-block;
    padding: 2rem;
    border-right: 2px solid var(--green);
}

.right-description {
    display: inline-block;
    padding: 2rem;
}

.quote-block {
    padding: 2rem;
    margin-bottom: 3rem;
    color: white;
    background-color: var(--light-blue);
}

.how-it-works-section img {
    width: 80%;
    height: 100%;
}