body {
    margin: 0;
}

.logo-container {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.logo-container img {
    object-fit: contain;
    height: 50px;
    margin-right: 2rem;
}

.logo-container h3 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: #073B4C;
}

#landingVideo {
     position: fixed;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: -2;
     width: 100vw;
     height: 100vh;
     object-fit: cover;
}

.landing-background-content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
  width: 100%;
  top: 0;
}

.wait-list-form-container {
    width: 100vw;
    height: 75vh;
}

.wait-list-form-box {
    width: 60%;
    min-width: 300px;
}

.wait-list-form-box h1 {
    font-size: 3rem;
}

.install-confirmation h1{
    font-size: 3rem;
    color: #06D6A0;
    font-family: 'Ultra', serif;
}

a.typewrite,  a.typewrite:hover, a.typewrite:active{
    text-decoration: none !important;
    color: #06D6A0;
    font-family: 'Ultra', serif;
}

.wait-list-form-box h4 {
    color: var(--white);
}

.btn-success, .btn-success:hover, .btn-success:active .btn-success:focus {
    background-color: #06D6A0;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #EF476F;
}

.btn-success:hover, .btn-danger:hover {
    opacity: 0.85;
}