{% extends 'base.html' %}
{% load static %}
{% block header %}
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Suranna&family=Ultra&display=swap" rel="stylesheet">
<script type="text/javascript">
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
{% endblock %}
{% block content %}
<video autoplay muted loop id="landingVideo">
    <source id="videoSource" src="{% static 'media/videos/2-laptops-1-man-md.mp4' %}" type="video/mp4">
</video>
<video muted id="noVideo">
    <source src="{% static 'media/videos/no-btn-video-md.mp4' %}" type="video/mp4">
</video>
<div class="landing-background-content">
    <div class="logo-container d-flex justify-content-between">
        <div class="d-flex">
            <img src="{% static 'media/imgs/wizard.png' %}">
            <h3>ouino</h3>
        </div>
        <a href="https://slack.com/oauth/v2/authorize?client_id=1173465096773.1187470693665&scope=commands&user_scope=im:write,chat:write"><img
                        alt="Add to Slack" height="40" width="139"
                        src="https://platform.slack-edge.com/img/add_to_slack.png"
                        srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
    </div>
    <div class="d-flex justify-content-center align-items-center main-content-container pb-5">
        <div class="main-content-box text-center">
            <div class="d-flex justify-content-center mb-3">
                <h1>
                    <a href="" class="typewrite" data-period="2000"
                       data-type='["Can you meet at 3pm?", "Beer?", "Did you respond to Mike?", "Pizza for lunch?", "Is there a God?", "Did you order more coffee?" ]'>
                        <span class="wrap"></span>
                    </a>
                </h1>
            </div>
            <div class="d-flex justify-content-center pt-3">
                <a href="{% url 'more_info' %}" class="btn btn-success mr-3">Yes</a>
                <a href="#no" class="btn btn-danger" onclick="noVideo()">No</a>
            </div>
            <div class="d-flex justify-content-center pt-5">

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
    function noVideo() {
        var video = document.getElementById('landingVideo');
        var noVideo = document.getElementById('noVideo');
        noVideo.play();
        video.remove();
    }
    function changeVideo() {
        var video = document.getElementById('landingVideo');
        var source = document.getElementById('videoSource');
        setTimeout(function() {
            video.pause();
            source.setAttribute('src', '{% static 'media/videos/no-btn-video-md.mp4' %}');
            video.load();
            video.play();
            video.removeAttribute('loop');
        }, 500);
    }
</script>
{% endblock %}